---
container_registry_personal_access_token_default: ""
container_registry_user_default: ""

#

ghcr_token: "{{ lookup('env', 'CR_PAT') | default(container_registry_personal_access_token_default, true) }}"
ghcr_user: "{{ lookup('env', 'CR_USER') | default(container_registry_user_default, true)}}"

# vi:et:sw=2 ts=2 sts=2 ft=ansible